*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  --clock-bg-color: rgba(255, 255, 255, 0.95);
  --clock-size: 300px;
  --central-dot-size: 1rem;
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 1.5em;
}

body {
  background: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  position: relative;
  background: var(--clock-bg-color);
  border-radius: 50%;
  width: var(--clock-size);
  height: var(--clock-size);
}

.clock::after {
  content: '';
  background: #000;
  border-radius: 50%;
  width: var(--central-dot-size);
  height: var(--central-dot-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 30deg));
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.num-box {
  transform: rotate(calc(var(--tilt) * -30deg));
}